.checkbox{
    width:40px;
    height:20px;
    position:absolute;
    
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    
    background-color:#FAFAFA;
    border: 1px solid #D1D1D1;
    display:inline-block;
}

.checkbox:after{
	content:' ';
	width:20px;
	height:20px;
	position:relative;

	top:-1px;
	background-color: #FAFAFA;
	border:1px solid #D1D1D1;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;

	display:block;
}

.checked{
    background-color: #53d76a;
}

.checked:after{
	content:' ';
	width:20px;
	height:20px;
	position:relative;
        left:20px;
	top:-1px;
	background-color: #FAFAFA;
	border:1px solid #D1D1D1;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;

	display:block;
}